.header {
  display: none;
  height: 56px;
  padding: 10px 20px 10px 0;
  font-size: 12px;

  &__reminder {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding-right: 8px;
  }

  &__sign-in-button {
    padding: 0 18px;
    border: 1px solid #4c4c4c;
  }

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      justify-content: flex-end;
    }
  }
}
