.header {
  display: none;

  &__reminder {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      justify-content: flex-end;
    }
  }
}
