.privacy {
  display: block;
  position: fixed;
  bottom: 0;
  right: 5%;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background-color: #6b6c72;
  border-radius: 3px;
}
