@import "resets";
@import "variables";

html {
  font: 400 16px $inuit-font-family;
}

body {
  background-color: #eceef1;
}

.intuit-link {
  font: 400 12px $inuit-font-family;
}

.intuit-button {
  font-family: inherit;
  border-radius: 4px;
  background-color: #0077c5;
  color: #fff;
}

@import "header";
@import "main";
@import "form";
@import "footer";

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}
