*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  display: none;
}

.header__reminder {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-end;
  }
}

.inuit-form {
  display: flex;
  flex-direction: column;
}

.inuit-form__have-account {
  display: none;
}

@media screen and (min-width: 768px) {
  .inuit-form__have-account {
    display: block;
  }
}

.hide {
  display: none;
}
